@model PasswordKeeper.Webapp.Models.EntityModel.Host

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Host : @Html.DisplayFor(model => model.Name) ?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("All Hosts", "Index")
        </div>
    }
</div>
